
.productsSection h2 {
  color: var(--lux-gold);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  position: relative;
  margin-top: 5rem;
  visibility: hidden; 
}

.productsSection h2::before {
  content: "Colecții";
  visibility: visible;
  display: block;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}


.card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}


.card img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  transition: transform 0.3s ease;
}


.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 0.5rem 0;
  transition: background 0.3s ease;
}

.overlay h3 {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}


.card:hover img {
  transform: scale(1.05); 
}

.card:hover .overlay {
  background: rgba(0, 0, 0, 0.6); 
}
